* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    background-color: rgb(5, 3, 53);
    font-family: monospace, sans-serif;
  }
  
  h1 {
    color: grey;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

  }
  
  .buttons {
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  img {
    margin: 0.2em;
    display: flex;
    background-color: rgba(153, 159, 196, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    background-size: contains;
    border-radius: 100%;
    margin: 1rem;
    cursor: pointer;
  }


  #manta-energy {
    color: white;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 1em 0;

  }

  .grid-wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }
  
  .grid {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    height: 600px;
    width: 600px;
    align-self: center;
  }
  
  .grid div {
    border: 1px solid rgb(36, 48, 126);
    height: 5%;
    width: 5%;
    color: #C2C2C2;
    text-align: center;
  }

  .end {
    background-image: url('../assets/earth.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.9;
  }
  
  .grid div.manta-ray {
    background-image: url('../assets/manta-ray.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
 

  .grid div.planet-one {
    background-image: url('../assets/planet-1.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.4;
    -webkit-transition: opacity 700ms ease-in-out;
    -moz-transition: opacity 700ms ease-in-out;
    transition: opacity 700ms ease-in-out;
  }
  
  .grid div.planet-two {
    background-image: url('../assets/planet-2.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity 900ms ease-in;
    -moz-transition: opacity 900ms ease-in;
    transition: opacity 900ms ease-in;
  }

  .grid div.planet-three {
    background-image: url('../assets/planet-3.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
  }


  .grid div.asteroid {
    background-image: url('../assets/meteor.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    opacity: 0.2;
    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
  }

  .wall {
    background-color: rgb(12, 35, 69);
    border: none;
    color:  rgb(32, 30, 30);
  }


  .grid div#manta-ray-up {
    background-image: url('../assets/manta-ray.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: none;
    rotate: 0deg;
  }

  .grid div#manta-ray-left {
    background-image: url('../assets/manta-ray.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: none;
    rotate: -90deg;
  }

  .grid div#manta-ray-down {
    background-image: url('../assets/manta-ray.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: none;
    transform: rotate(180deg);
  }

  .grid div#manta-ray-right {
    background-image: url('../assets/manta-ray.png');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: none;
    rotate: 90deg;
  }

  




